@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --fs16: 16px;
  --primary-red: #fa0400;
}

@font-face {
  font-family: "The Future";
  src: url("/fonts/TheFuture-Extralight.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "The Future", sans-serif;
  font-size: var(--fs16);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.text_primary {
  color: var(--primary-red);
}

.bg_primary {
  background-color: var(--primary-red);
}

.text_manrope {
  font-family: var(--font-manrope);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-y-auto,
.overflow-auto {
  overscroll-behavior: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
