@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --fs16: 16px;
  --primary-red: #fa0400;
}

body {
  font-family: var(--font-montserrat);
  font-size: var(--fs16);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overscroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.text_primary {
  color: var(--primary-red);
}
.text_manrope {
  font-family: var(--font-manrope);
}

.bg_primary {
  background-color: var(--primary-red);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[style*="overflow-y: auto"],
[style*="overflow: auto"],
.overflow-y-auto,
.overflow-auto {
  overscroll-behavior: contain;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #9333ea,
    #a855f7,
    #ec4899
  );
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #7e22ce,
    #9333ea,
    #db2777
  );
}